
body
{
margin: 0;
}
h1
{
 font-size: 45px;
}
#boxpage
{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 1000px;
  background-color:#2B3D51;
}


/* #box0
{

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  height: 900px;
  background-color:#2B3D51;
} */

/* h1
{
width:100%;
height: 50px;
text-align: center;
} */


 #boxtitre
{
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;

}

#box1
{

  width:30%;
  height:80%;
  background-color:#F16024 ;
  border-radius: 20px 20px 20px 20px;
}

#box4block
{
  width: 70%;
  height: 75%;
  display: flex;
  flex-direction: column ;
  justify-content: space-between ;
  align-items : center;


}

 #box2
 {
    width:77%;
   height:17%;
   background-color:#dd493a ;
   border-radius: 20px 20px 20px 20px;
 }

#box3
{
  width:85%;
  height:17%;
  background-color:#995DB5 ;
  border-radius: 20px 20px 20px 20px;
}
#box4
 {
   width:77%;
   height:17%;
   background-color:#dd493a;
   border-radius: 20px 20px 20px 20px;
 }

#box5
{
  width:85%;
  height:17%;
  background-color: #995DB5;
  border-radius: 20px 20px 20px 20px;
}

#box6
{
  width: 80%;
  height:5%;
  background-color: #995DB5;
  border-radius: 20px 20px 20px 20px;


}

@media screen and (max-width :930px )
 {
  #boxpage
  {width:100%;
  height: 2500px
 }

 #boxtitre
 {
  display: block;
  width: 100%;
  height: 5%;
  text-align: center;
  margin-bottom: 20px;
}
  #box1
{
  width: 90%;
  height: 20%;
}

{}  #box2
{
  width: 70%;
  height:22%
}
    #box3
{
  width: 80%;
  height: 20%;

}
#box4
{
  width: 70%;
  height:22%;

}
#box5
{
  width: 80%;
  height: 20%;

}

  #box4block
{
  width: 100%;
  height: 40%;

}

}
