
.topbar
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 610px;
    margin: 20px 24%;
    margin-bottom: 15%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: slidedown 1s;
  }

.topbar a
{
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

#contact
{

 align-items: center;
 height:150px;
 width: 450px;
 color: white;
 /* background-color: black; */
 margin-top: 15%;


}
#blockpre
{
  align-items: center;
  height: auto;
  width: 80% ;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px 20px 20px 20px;
}

ul
{
  font-family: impact;
  margin:10px;
  font-weight: bold;
}
li
{
margin: 5px;
font-size: 15px;
font-weight : 100;
}

.loisir
{
  margin-top: 30%;
}

#passet
{

}

p
{
  margin: 10px;
}


body
{
  background-image: url("assets/fond.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: Times, sans-serif
}
h1
{
 font-size: 45px;
text-align: center;
}
h2
{
  text-align: center;
}

/* #box1 a
{
list-style-type: none;
} */

#boxpage
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 2000px;
  background-color:#2B3D51;
}



 #boxtitre
{
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;

}


#box1
{
  display: flex;
  flex-direction: column;
  width:30%;
  height:80%;
  background-color:#13874b;
  border-radius: 20px 20px 20px 20px;
}
#boxlgo
{
  margin: 30px;
  padding: 30px;
}

#box4block
{
  width: 70%;
  height: 75%;
  display: flex;
  flex-direction: column ;
  justify-content: space-between ;
  align-items : center;
}

 #box2
 {
   width:77%;
   height:17%;
   background-color:#383C9C ;
   border-radius: 20px 20px 20px 20px;
 }

#box3
{
  width:85%;
  height:17%;
  background-color:#995DB5 ;
  border-radius: 20px 20px 20px 20px;
}

#box4
 {
   width:77%;
   height:17%;
   background-color:#dd493a;
   border-radius: 20px 20px 20px 20px;
 }

#box5
{
  width:85%;
  height:17%;
  background-color: #ed6612;
  border-radius: 20px 20px 20px 20px;
}

#box6
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height:5%;
  background-color: #995DB5;
  border-radius: 20px 20px 20px 20px;
  }

#menu
{
  list-style-type: none;
  font-size : x-large;
  font-weight : bold;


}

#menu ul
{
 margin:0;
 padding:0;
 list-style-type:none;
  }

#menu li {
 float:left;
 margin:auto;
 padding:0;

 }

#menu li a {
  width:200px;
 color:black;
 text-decoration:none;
 padding:5px;
 }

#menu li a:hover {
 color:#DD3A4D;
 }


#menu ul li ul {
  display:none;
  margin-top: -110px;
  margin-right: 10px;
  }

#menu ul li:hover ul {
   display:block;
   }
#menu li:hover ul li {
   float:none;
   }
#menu li ul {
    position:absolute;
    }
@media screen and (max-width :930px )
 {
  #boxpage
  {width:100%;
  height: 2500px;
  background-color:black;
 }

 #boxtitre
 {
  display: block;
  width: 100%;
  height: 5%;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}
  #box1
{
  width: 90%;
  height:auto;
}

  #box2
{
  width: 70%;
  height: auto;
}
    #box3
{
  width: 80%;
  height: auto;
}
#box4
{
  width: 70%;
  height:auto;
}
#box5
{
  width: 80%;
  height: auto;
}

  #box4block
{
  width: 100%;
  height: auto;
}

}
